<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClientDataConnection"
			 connectionString="Data Source=PANA-NOTE21\SASAKISERVER;Initial Catalog=ClientData;Persist Security Info=True;User ID=sa;Password=2256;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>